body {
  padding: 0em;
  margin: 0em;
}
main {
  display: grid;
  width: 100%;
  grid-template-areas:
    "search search show show likes"
    "res res show show likes"
    "res res movies movies likes"
    "histo histo movies movies likes"
    "histo histo movies movies likes";

  /* TODO: changer taille des section par taille de la grid template row et col */
  grid-template-columns: repeat(30vw, 1fr);
  grid-template-rows: repeat(30vh, 1fr);
  gap: 1em;
  justify-items: center;
  justify-content: center;
}
header,
footer {
  display: flex;
  justify-content: center;
  background-color: blanchedalmond;
}
header {
  margin-bottom: 0.5em;
}
footer {
  margin-top: 0.5em;
}
section {
  width: 30vw;
  min-height: 3em;
  max-height: 50vh;
  overflow: auto;
}
/* Rend le scroll discret pour les navigateurs basés sur WebKit */
::-webkit-scrollbar {
  width: 8px; /* Largeur de la barre de scroll */
}

::-webkit-scrollbar-track {
  background: transparent; /* Couleur de fond de la piste de scroll */
}

::-webkit-scrollbar-thumb {
  background: #c8c7c7; /* Couleur de la barre de scroll */
  border-radius: 4px; /* Coins arrondis de la barre de scroll */
}

aside {
  width: 15vw;
  display: none;
}
#search {
  grid-area: search;
}
#res {
  grid-area: res;
  background-color: lightpink;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#movies {
  grid-area: movies;
  background-color: lightyellow;
}
#histo {
  grid-area: histo;
  background-color: lightblue;
}
#show {
  grid-area: show;
  background-color: lightgreen;
}
#likes {
  grid-area: likes;
  background-color: lightgray;
}
.card {
  width: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5em;
  padding-top: 0.5em;
}
.card p {
  text-align: center;
}
.card img {
  max-width: 50vh;
  max-height: 20vh;
  border: 0px solid transparent;
  border-radius: 25%;
}
.active {
  background-color: whitesmoke;
  cursor: pointer;
  border: 0px solid whitesmoke;
  border-radius: 0.5em;
}

#infosActor img,
.movieCard img {
  max-width: 10vw;
  margin: auto;
  align-items: center;
  border: 0px solid transparent;
  border-radius: 25%;
  margin-top: 1em;
}

#infosActor p,
#infosActor h2 {
  text-align: center;
  margin: 0.5em;
}
#infosActor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movieCard {
  display: flex;
  margin: 0.5em;
}
.infosFilm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-inline: 0.2em;
}
.infosFilm span {
  font-weight: bold;
  font-size: large;
}
